extends _layout

block content
  h1 รายการหนัง/ซีรี่ย์ (#{total})
  p.text-secondary (คุณอยู่หน้าที่ #{page})
  form
    .input-group
      input.form-control(name="keyword" type="search" placeholder="ระบุคำค้นหา..." value=keywordInput)
      button.btn.btn-outline-secondary ค้นหา
  hr
  if movies.length == 0
    p.text-danger.text-center ไม่พบข้อมูล
  else
    table.table.table-striped
      thead
        tr
          th ชื่อ
          th ประเภท
          th ภาษา
          th จำนวนผู้รีวิว
          th วันที่ฉาย
      tbody
        each movie in movies
          tr
            td
              a(href=`/movies/${movie._id}`)= movie.title
            td= movie.type
            td= movie.languages
            td= movie.comments.length
            td= movie.released
  ul.pagination.justify-content-center.flex-wrap
    - let pageIndex = 1
    while pageIndex <= totalPage
      li.page-item(class=page == pageIndex ? 'active' : '')
        a.page-link(href=`?page=${pageIndex}${keywordInput ? `&keyword=${keywordInput}` : ''}`)= pageIndex++

